fastapi             # Handling APIs
uvicorn[standard]   # Handling managing containers
databases           # Handling async DB connection management
redis               # Handling redis client library
shortuuid           # Handling generate uniqe short url